<h1><center>Module 15: Lesson 7 Feature engineering 2: dimensionality and PCA Assignment</center></h1>

## Assignment

In this assignment, you'll continue working with the [U.S. Education Dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home) from Kaggle. The data gives detailed state level information on the several facets of the state of education on annual basis. To learn more about the data and the column descriptions, you can view the Kaggle link above. You should access the data from the Thinkful database. Below are the credentials you can use to connect to the database:

postgres_user = 'dsbc_student'<br>
postgres_pw = '7\*.8G9QH21'<br>
postgres_host = '142.93.121.174'<br>
postgres_port = '5432'<br>
postgres_db = 'useducation'<br>

Don't forget to apply the most suitable missing value filling techniques you applied in the previous checkpoints to the data. You should provide your answers to the following questions after you handled the missing values.

To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

Say, we want to understand the relationship between the expenditures of the governments and the students' overall success in the math and reading.

1. Create a new score variable from the weighted averages of all score variables in the datasets. **Notice that the number of students in the 4th grade isn't the same as the number of students in the 8th grade. So, you should appropriately weigh the scores!**.
2. What are the correlations between this newly created score variable and the expenditure types? Which 1 of the expenditure types is more correlated than the others?
3. Now, apply PCA to the 4 expenditure types. How much of the total variance is explained by the 1st component?
4. What is the correlation between the overall score variable and the 1st principal component? 
5. If you were to choose the best variables for your model, would you prefer using the 1st principal component instead of the expenditure variables? Why?

_________________________________________________________________________________________________________________

##### Import packages

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from scipy.stats.mstats import winsorize
from scipy.stats.stats import ttest_ind
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

pd.set_option('display.max_columns', 500)

##### Grab data

In [11]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

education_df = pd.read_sql_query('select * from useducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

##### Interpolate data

In [21]:
fill_list = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE",
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE",
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G",
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G",
             "GRADES_9_12_G", "GRADES_ALL_G"]

states = education_df["STATE"].unique()

for state in states:
    education_df.loc[education_df["STATE"] == state, fill_list] = education_df.loc[education_df["STATE"] == state, fill_list].interpolate()

# we drop the null values after interpolation
education_df.dropna(inplace=True)

In [12]:
education_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,8224.0,55460.0,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,2544.0,53497.0,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,808.0,33511.0,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,59067.0,431763.0,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [22]:
education_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415 entries, 209 to 1249
Data columns (total 26 columns):
PRIMARY_KEY                     415 non-null object
STATE                           415 non-null object
YEAR                            415 non-null int64
ENROLL                          415 non-null float64
TOTAL_REVENUE                   415 non-null float64
FEDERAL_REVENUE                 415 non-null float64
STATE_REVENUE                   415 non-null float64
LOCAL_REVENUE                   415 non-null float64
TOTAL_EXPENDITURE               415 non-null float64
INSTRUCTION_EXPENDITURE         415 non-null float64
SUPPORT_SERVICES_EXPENDITURE    415 non-null float64
OTHER_EXPENDITURE               415 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      415 non-null float64
GRADES_PK_G                     415 non-null float64
GRADES_KG_G                     415 non-null float64
GRADES_4_G                      415 non-null float64
GRADES_8_G                      415 non-null float64
GRADES_12_G                     415 non-null float64
GRADES_1_8_G                    415 non-null float64
GRADES_9_12_G                   415 non-null float64
GRADES_ALL_G                    415 non-null float64
AVG_MATH_4_SCORE                415 non-null float64
AVG_MATH_8_SCORE                415 non-null float64
AVG_READING_4_SCORE             415 non-null float64
AVG_READING_8_SCORE             415 non-null float64
overall_score                   415 non-null float64
dtypes: float64(23), int64(1), object(2)
memory usage: 87.5+ KB

_________________________________________________________________________________________________________________

##### Question 1

* Create a new score variable from the weighted averages of all score variables in the datasets.

In [18]:
education_df["overall_score"] = (education_df["GRADES_4_G"]*((education_df["AVG_MATH_4_SCORE"] + education_df["AVG_READING_4_SCORE"])*0.5) + education_df["GRADES_8_G"]
                                 * ((education_df["AVG_MATH_8_SCORE"] + education_df["AVG_READING_8_SCORE"])*0.5))/(education_df["GRADES_4_G"] + education_df["GRADES_8_G"])

##### Question 2

* What are the correlations between this newly created score variable and the expenditure types? Which 1 of the expenditure types is more correlated than the others?

In [23]:
education_df[["overall_score", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE",
              "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]].corr()

,overall_score,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
overall_score,1.000000,0.073602,0.087639,0.077583,0.003163,-0.005733
TOTAL_EXPENDITURE,0.073602,1.000000,0.990337,0.993529,0.944858,0.929077
INSTRUCTION_EXPENDITURE,0.087639,0.990337,1.000000,0.975859,0.904587,0.888457
SUPPORT_SERVICES_EXPENDITURE,0.077583,0.993529,0.975859,1.000000,0.951836,0.915168
OTHER_EXPENDITURE,0.003163,0.944858,0.904587,0.951836,1.000000,0.920691
CAPITAL_OUTLAY_EXPENDITURE,-0.005733,0.929077,0.888457,0.915168,0.920691,1.000000

##### Question 3

* Now, apply PCA to the 4 expenditure types. How much of the total variance is explained by the 1st component?

In [24]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

X = education_df[["INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
                  "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]

X = StandardScaler().fit_transform(X)

sklearn_pca = PCA(n_components=1)
education_df["pca_1"] = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [0.94469559]

##### Question 4

* What is the correlation between the overall score variable and the 1st principal component?

In [25]:
education_df[["overall_score", "pca_1", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE",
              "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]].corr()

,overall_score,pca_1,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
overall_score,1.000000,0.042149,0.073602,0.087639,0.077583,0.003163,-0.005733
pca_1,0.042149,1.000000,0.992464,0.969672,0.988712,0.971604,0.957576
TOTAL_EXPENDITURE,0.073602,0.992464,1.000000,0.990337,0.993529,0.944858,0.929077
INSTRUCTION_EXPENDITURE,0.087639,0.969672,0.990337,1.000000,0.975859,0.904587,0.888457
SUPPORT_SERVICES_EXPENDITURE,0.077583,0.988712,0.993529,0.975859,1.000000,0.951836,0.915168
OTHER_EXPENDITURE,0.003163,0.971604,0.944858,0.904587,0.951836,1.000000,0.920691
CAPITAL_OUTLAY_EXPENDITURE,-0.005733,0.957576,0.929077,0.888457,0.915168,0.920691,1.000000

##### Question 5

* If you were to choose the best variables for your model, would you prefer using the 1st principal component instead of the expenditure variables? Why?

> If I were to choose the best variable for my model I would choose the instruction expenditure variable. I would choose this because it still has a higher correlation value than the first principal component.